.base {
  will-change: transform, opacity;
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-in {
  opacity: 0;
}

.scale-up {
  opacity: 0;
  transform: scale(0.95);
}

.visible {
  opacity: 1;
  transform: translate(0) scale(1);
}
